# ignore everything that .gitignore ignores
#!include:.gitignore

/db
/misc
/out
/gcloud
/config
/tests
/doc
/support
/scripts
/Makefile
/README.md
/package.json
/package-lock.json
/templates
/LICENSE
/requirements.thawed.txt
/.??*
