acres==0.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
alabaster==1.0.0
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
application_properties==0.8.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astroid==3.3.10
asttokens==3.0.0
async-lru==2.0.4
attr==0.3.2
attrs==25.3.0
audible==0.10.0
audible-cli==0.3.2
Automat==25.4.16
azure-cognitiveservices-search-websearch==2.0.1
azure-common==1.1.28
azure-core==1.34.0
azure-identity==1.20.0
azure-keyvault-secrets==4.9.0
azure-mgmt-core==1.5.0
azure-mgmt-resource==23.2.0
azure-storage-blob==12.24.1
babel==2.17.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
bitarray==3.1.1
bitmath==1.3.3.1
bleach==6.2.0
blinker==1.9.0
boto==2.49.0
boto3==1.38.46
boto3-stubs==1.38.46
botocore==1.38.46
botocore-stubs==1.38.46
Brotli==1.1.0
browser-cookie3==0.20.1
browsercookie==0.7.9
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
ci-info==0.3.0
cinemagoer==2023.5.1
ckzg==2.0.1
click==8.2.1
cmd2==2.7.0
colorama==0.4.6
colored==2.3.0
colorspacious==1.1.2
Columnar==1.4.1
comm==0.2.2
configobj==5.0.9
configparser==7.2.0
constantly==23.10.4
contourpy==1.3.2
cramjam==2.10.0
cryptography==45.0.4
cssselect==1.3.0
cycler==0.12.1
cytoolz==1.0.1
dbus-python==1.4.0
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
dispy==4.15.2
distlib==0.3.9
Django==5.2.3
djangorestframework==3.16.0
docker==7.1.0
docutils==0.21.2
dotenv==0.9.9
durationpy==0.10
ecdsa==0.19.1
elastic-transport==8.17.1
elasticsearch==9.0.2
etelemetry==0.3.1
eth-account==0.13.5
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.2.0
eth-typing==5.2.0
eth-utils==5.2.0
eth_abi==5.2.0
executing==2.1.0
exif==1.6.1
ExifRead==3.3.1
fastapi==0.115.14
fastjsonschema==2.21.1
fastparquet==2024.11.0
filelock==3.18.0
fire==0.7.0
fitz==0.0.1.dev2
Flask==3.1.1
Flask-RESTful==0.3.10
fonttools==4.58.4
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.5.0
fsspec==2025.5.1
furl==2.1.4
gcloud==0.18.3
gdata-python3==3.0.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-datastore==2.21.0
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.73.1
grpcio-status==1.73.1
h11==0.16.0
h2==4.2.0
hatch==1.14.1
hatchling==1.27.0
hexbytes==1.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
humanize==4.12.3
hyperframe==6.1.0
hyperlink==21.0.0
id==1.5.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
IMDbPY==2022.7.9
incremental==24.7.2
influxdb-client==1.49.0
iniconfig==2.1.0
inject==5.3.0
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.5
isodate==0.7.2
isoduration==20.11.0
isort==6.0.1
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jq==1.9.1
json5==0.10.0
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaitaistruct==0.10
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==33.1.0
kubernetes-stubs==22.6.0.post1
lmdb==1.6.2
lockfile==0.12.2
logging_tree==1.10
looseversion==1.3.0
luigi==3.6.0
lxml==6.0.0
lz4==4.4.4
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mingus==0.6.1
mistune==3.1.0
more-itertools==10.7.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msrest==0.7.1
multi_key_dict==2.0.3
multidict==6.1.0
music==1.0.0b5
mypy==1.16.1
mypy_extensions==1.1.0
mysql-connector==2.2.9
narwhals==1.44.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nh3==0.2.21
nibabel==5.3.2
nipype==1.9.2
notebook==7.3.2
notebook_shim==0.2.4
numpy==2.3.1
oauth2client==4.1.3
oauthlib==3.3.1
opencv-python==4.11.0.86
openshift==0.13.2
openshift-client==2.0.5
orderedmultidict==1.0.1
outcome==1.3.0.post0
overrides==7.7.0
oyaml==1.0
packaging==25.0
pandas==2.3.0
pandas-stubs==2.2.3.250527
pandocfilters==1.5.1
paramiko==3.5.1
parsel==1.10.0
parsimonious==0.10.0
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pbkdf2==1.3
pbr==6.1.1
pdf2image==1.17.0
pexpect==4.9.0
piexif==1.1.3
pillow==11.2.1
pipdeptree==2.26.1
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
pluginbase==1.0.1
plum-py==0.8.7
portalocker==2.10.1
powerline-shell==0.7.0
progressbar==2.5
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.3.0
Protego==0.5.0
proto-plus==1.26.1
protobuf==6.31.1
prov==2.0.1
psutil==7.0.0
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyaes==1.6.1
pyapikey==0.0.12
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclassifiers==0.0.19
pycmdtools==0.0.85
pycontacts==0.0.17
pycos==4.12.2
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
PyDispatcher==2.0.7
pydmt==0.3.24
pydot==3.0.4
PyExifTool==0.5.6
pyfakeuse==0.0.9
pyfluidsynth==1.3.4
pygame==2.6.1
pygcal @ file:///home/mark/git/veltzer/pygcal
PyGithub==2.6.1
pygitpub==0.0.55
Pygments==2.19.2
pygooglecloud==0.0.3
pygooglehelper==0.0.8
PyGraph==0.3.0
pyinotify==0.9.6
PyJWT==2.10.1
pylint==3.3.7
pylogconf==0.0.38
pymakehelper==0.0.37
pymarkdownlnt==0.9.26
pymultigit==0.0.93
PyMySQL==1.1.1
PyNaCl==1.5.0
pyOpenSSL==25.1.0
pyparsing==3.2.3
PyPDF2==3.0.1
pyperclip==1.9.0
pypitools==0.0.79
pypluggy==0.0.15
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5-stubs==5.15.6.0
PyQt5_sip==12.17.0
PyRSS2Gen==1.1
PySocks==1.7.1
pytconf==0.1.19
pytest==8.4.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jenkins==1.8.2
python-json-logger==3.2.1
python-magic==0.4.27
python-pptx==1.0.2
python-string-utils==1.0.0
pythondialog==3.5.3
pytidylib==0.3.2
pytubekit==0.0.31
pytz==2025.2
pyunormalize==16.0.0
pyvardump==0.0.5
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.0
questionary==2.1.0
queuelib==1.8.0
rdflib==6.3.2
reactivex==4.0.4
readme_renderer==44.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.2
requests==2.32.4
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.0.0
rich-argparse==1.7.1
rlp==4.1.0
roman-numerals-py==3.1.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
ruff==0.12.1
s3transfer==0.13.0
scikit-learn==1.7.0
scipy==1.16.0
Scrapy==2.13.2
SecretStorage==3.3.3
selenium==4.34.0
selenium-wire==5.1.0
Send2Trash==1.8.3
service-identity==24.2.0
setuptools==80.9.0
shellingham==1.5.4
simpleaudio==1.0.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.2
statistics==1.0.3.5
svgwrite==1.4.3
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==3.1.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.6.0
tinycss2==1.4.0
tldextract==5.3.0
tlslite-ng==0.8.2
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.3
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
trio==0.30.0
trio-websocket==0.12.2
trove-classifiers==2025.5.9.12
tsv==1.2
twine==6.1.0
Twisted==25.5.0
types-awscrt==0.27.4
types-beautifulsoup4==4.12.0.20250516
types-boto==2.49.18.20241019
types-colorama==0.4.15.20240311
types-docutils==0.21.0.20250604
types-html5lib==1.1.11.20250516
types-jsonschema==4.24.0.20250528
types-paramiko==3.5.0.20250516
types-Pillow==10.2.0.20240822
types-psutil==7.0.0.20250601
types-psycopg2==2.9.21.20250516
types-Pygments==2.19.0.20250516
types-PyMySQL==1.1.0.20250516
types-python-dateutil==2.9.0.20241206
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
types-s3transfer==0.13.0
types-setuptools==80.9.0.20250529
types-termcolor==1.1.6.2
types-tqdm==4.67.0.20250516
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
undetected-chromedriver==3.5.5
Unidecode==1.4.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.4.0
userpath==1.9.2
uv==0.7.16
uvicorn==0.35.0
venv-run==0.2.0
virtualenv==20.31.2
w3lib==2.3.1
wcwidth==0.2.13
web3==7.9.0
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
wrapt==1.17.2
wsproto==1.2.0
xlsxwriter==3.2.5
Yapsy==1.12.2
yarl==1.18.3
yattag==1.16.1
youtube-dl==2021.12.17
yt-dlp==2025.6.9
zope.interface==7.2
zstandard==0.23.0
